# ==============================================
# Compose.yml
# ==============================================
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
NODE_ENV=
NEXT_PUBLIC_API_URL=http://nginx

# ==============================================
# default.conf
# ==============================================
LARAVEL_SERVER_NAME=
NEXTJS_SERVER_NAME=